In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\Archer\Desktop\工作簿2.xlsx")

In [3]:
df

             SKU                                        Description
0       HCR00013                                Acura TLX 2015-2020
1       HCR00023                              Ford Ranger 2019-2023
2     HCR00024-C                        Chevrolet Bolt EV 2017-2023
3     HCR00045-C  Chrysler Pacifica 2017-2024\nChrysler Voyager ...
4     HCR00048-C  Volkswagen Atlas 2018-2021\nVolkswagen Tiguan ...
..           ...                                                ...
492     HCR99379  Chevrolet Tahoe 2007-2020\nChevrolet Traverse ...
493   HCR99380-C  Jeep Compass 2007-2017\nJeep Patriot 2007-2017...
494  HCR99381X-C    Toyota Paseo 1992-1996\nToyota Tercel 1991-1996
495  HCR99384X-C  Audi A3 2006-2013\nAudi Q2 2018\nAudi Q3 2013-...
496  HCR99392X-C         Honda Accord 2003-2007\nAcura TL 2004-2008

[497 rows x 2 columns]

In [4]:
df['Description'] = df['Description'].str.split('\n')
df = df.explode('Description')
df = df.drop_duplicates(keep='first')
df.reset_index(inplace=True,drop=True)
# df_gb = df.groupby(['Part Number'],as_index=False).agg({"Engine":";".join})

In [5]:
df

              SKU                  Description
0        HCR00013          Acura TLX 2015-2020
1        HCR00023        Ford Ranger 2019-2023
2      HCR00024-C  Chevrolet Bolt EV 2017-2023
3      HCR00045-C  Chrysler Pacifica 2017-2024
4      HCR00045-C        Chrysler Voyager 2024
...           ...                          ...
2615  HCR99384X-C     Volkswagen Gti 2006-2014
2616  HCR99384X-C   Volkswagen Jetta 2006-2010
2617  HCR99384X-C          Volkswagen R32 2008
2618  HCR99392X-C       Honda Accord 2003-2007
2619  HCR99392X-C           Acura TL 2004-2008

[2620 rows x 2 columns]

In [6]:
df['SKU'] = df['SKU'].astype(str)

In [7]:
df['Description'] = df['Description'].apply(lambda x: x.strip())

In [8]:
df_gb = df.groupby('Description',as_index=False,sort=False).agg({'SKU':','.join})

In [9]:
df_gb['goods_num'] = df_gb['SKU'].apply(lambda x: len(set(x.split(','))))

In [10]:
df_gb

                      Description          SKU  goods_num
0             Acura TLX 2015-2020     HCR00013          1
1           Ford Ranger 2019-2023     HCR00023          1
2     Chevrolet Bolt EV 2017-2023   HCR00024-C          1
3     Chrysler Pacifica 2017-2024   HCR00045-C          1
4           Chrysler Voyager 2024   HCR00045-C          1
...                           ...          ...        ...
2099   Volkswagen Caddy 2014-2016  HCR99384X-C          1
2100      Volkswagen CC 2015-2017  HCR99384X-C          1
2101          Volkswagen Gli 2010  HCR99384X-C          1
2102   Volkswagen Jetta 2006-2010  HCR99384X-C          1
2103           Acura TL 2004-2008  HCR99392X-C          1

[2104 rows x 3 columns]

In [11]:
df_gb['list_vehicle'] = df_gb['Description'].apply(lambda x: x.split(' '))
df_gb

,Description,SKU,goods_num,list_vehicle
0,Acura TLX 2015-2020,HCR00013,1,"[Acura, TLX, 2015-2020]"
1,Ford Ranger 2019-2023,HCR00023,1,"[Ford, Ranger, 2019-2023]"
2,Chevrolet Bolt EV 2017-2023,HCR00024-C,1,"[Chevrolet, Bolt, EV, 2017-2023]"
3,Chrysler Pacifica 2017-2024,HCR00045-C,1,"[Chrysler, Pacifica, 2017-2024]"
4,Chrysler Voyager 2024,HCR00045-C,1,"[Chrysler, Voyager, 2024]"
...,...,...,...,...
2099,Volkswagen Caddy 2014-2016,HCR99384X-C,1,"[Volkswagen, Caddy, 2014-2016]"
2100,Volkswagen CC 2015-2017,HCR99384X-C,1,"[Volkswagen, CC, 2015-2017]"
2101,Volkswagen Gli 2010,HCR99384X-C,1,"[Volkswagen, Gli, 2010]"
2102,Volkswagen Jetta 2006-2010,HCR99384X-C,1,"[Volkswagen, Jetta, 2006-2010]"
2103,Acura TL 2004-2008,HCR99392X-C,1,"[Acura, TL, 2004-2008]"

In [12]:
df_gb['year'] = df_gb['list_vehicle'].apply(lambda x: x[-1] if len(x)>2 else '')
df_gb['make'] = df_gb['list_vehicle'].apply(lambda x: ' '.join(x[0:2]) if x[0]=='Land' or x[0]=='Alfa' else x[0])
df_gb['make'] = df_gb['make'].apply(lambda x: x.strip())
df_gb['model'] = df_gb['list_vehicle'].apply(lambda x: (' '.join(x[2:-1]) if x[0]=='Land' or x[0]=='Alfa' else ' '.join(x[1:-1])) if len(x)>2 else x[-1])
df_gb['model'] = df_gb['model'].apply(lambda x: x.strip())
df_gb

,Description,SKU,goods_num,list_vehicle,year,make,model
0,Acura TLX 2015-2020,HCR00013,1,"[Acura, TLX, 2015-2020]",2015-2020,Acura,TLX
1,Ford Ranger 2019-2023,HCR00023,1,"[Ford, Ranger, 2019-2023]",2019-2023,Ford,Ranger
2,Chevrolet Bolt EV 2017-2023,HCR00024-C,1,"[Chevrolet, Bolt, EV, 2017-2023]",2017-2023,Chevrolet,Bolt EV
3,Chrysler Pacifica 2017-2024,HCR00045-C,1,"[Chrysler, Pacifica, 2017-2024]",2017-2024,Chrysler,Pacifica
4,Chrysler Voyager 2024,HCR00045-C,1,"[Chrysler, Voyager, 2024]",2024,Chrysler,Voyager
...,...,...,...,...,...,...,...
2099,Volkswagen Caddy 2014-2016,HCR99384X-C,1,"[Volkswagen, Caddy, 2014-2016]",2014-2016,Volkswagen,Caddy
2100,Volkswagen CC 2015-2017,HCR99384X-C,1,"[Volkswagen, CC, 2015-2017]",2015-2017,Volkswagen,CC
2101,Volkswagen Gli 2010,HCR99384X-C,1,"[Volkswagen, Gli, 2010]",2010,Volkswagen,Gli
2102,Volkswagen Jetta 2006-2010,HCR99384X-C,1,"[Volkswagen, Jetta, 2006-2010]",2006-2010,Volkswagen,Jetta
2103,Acura TL 2004-2008,HCR99392X-C,1,"[Acura, TL, 2004-2008]",2004-2008,Acura,TL

In [13]:
def create_year_range(year_str):
    if not year_str:
        return list()
    try:
        parts = year_str.split('-')
        start = int(parts[0])
        end = int(parts[1]) if len(parts) > 1 else start
        return list(range(start, end + 1))
    except (ValueError, IndexError):
        return []

In [14]:
df_gb['list_year'] = [create_year_range(year) for year in df_gb['year']]
df_gb

,Description,SKU,goods_num,list_vehicle,year,make,model,list_year
0,Acura TLX 2015-2020,HCR00013,1,"[Acura, TLX, 2015-2020]",2015-2020,Acura,TLX,"[2015, 2016, 2017, 2018, 2019, 2020]"
1,Ford Ranger 2019-2023,HCR00023,1,"[Ford, Ranger, 2019-2023]",2019-2023,Ford,Ranger,"[2019, 2020, 2021, 2022, 2023]"
2,Chevrolet Bolt EV 2017-2023,HCR00024-C,1,"[Chevrolet, Bolt, EV, 2017-2023]",2017-2023,Chevrolet,Bolt EV,"[2017, 2018, 2019, 2020, 2021, 2022, 2023]"
3,Chrysler Pacifica 2017-2024,HCR00045-C,1,"[Chrysler, Pacifica, 2017-2024]",2017-2024,Chrysler,Pacifica,"[2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]"
4,Chrysler Voyager 2024,HCR00045-C,1,"[Chrysler, Voyager, 2024]",2024,Chrysler,Voyager,[2024]
...,...,...,...,...,...,...,...,...
2099,Volkswagen Caddy 2014-2016,HCR99384X-C,1,"[Volkswagen, Caddy, 2014-2016]",2014-2016,Volkswagen,Caddy,"[2014, 2015, 2016]"
2100,Volkswagen CC 2015-2017,HCR99384X-C,1,"[Volkswagen, CC, 2015-2017]",2015-2017,Volkswagen,CC,"[2015, 2016, 2017]"
2101,Volkswagen Gli 2010,HCR99384X-C,1,"[Volkswagen, Gli, 2010]",2010,Volkswagen,Gli,[2010]
2102,Volkswagen Jetta 2006-2010,HCR99384X-C,1,"[Volkswagen, Jetta, 2006-2010]",2006-2010,Volkswagen,Jetta,"[2006, 2007, 2008, 2009, 2010]"
2103,Acura TL 2004-2008,HCR99392X-C,1,"[Acura, TL, 2004-2008]",2004-2008,Acura,TL,"[2004, 2005, 2006, 2007, 2008]"

In [15]:
df_sales = pd.read_excel(r"D:\Archer\FTM项目资料\【FTM项目】逆向处理资料包_20250227.xlsx",sheet_name='附表1_北美车型保有量')

In [16]:
df_sales_1 = df_sales.filter(like='20').drop(columns=['SUM(2000-2024)','SUM(2020-2024)','SUM(2010-2024)'])

In [17]:
df_sales_1

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,876716,911597,813701,845586,939511,901463,796039,691589,515513,413625,...,780354,820799,896764,909330,896526,787372,726003,653957,750789,834641
1,642119,716051,652646,684302,680768,705981,636069,618257,465065,316544,...,600544,574876,585864,585582,575569,593057,529765,520936,555148,560265
2,380874,344538,396934,449371,426289,400543,364177,358295,245840,177268,...,451116,487558,500723,536980,633694,563676,569389,468344,444927,373120
3,422961,388512,434145,413296,426990,431703,448445,472808,436617,356824,...,429355,388616,387081,343439,336978,294348,313795,295201,290649,309875
4,404515,414718,398980,397750,386770,376293,354441,382231,368161,290056,...,355557,345135,322655,291071,267567,199458,202676,154612,197947,147972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,37,64,139,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
556,0,0,0,0,0,0,0,0,0,0,...,0,84,98,0,0,0,0,0,0,0
557,0,0,0,0,0,0,0,0,0,0,...,9,6,3,2,3,3,0,0,0,0
558,0,0,0,0,0,160,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
559,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,49,56,0

In [18]:
df_sales = df_sales[['Region','Brand','Make+Model']]

In [19]:
df_sales = pd.concat([df_sales,df_sales_1],axis=1)

In [20]:
df_sales['Make+Model'] = df_sales['Make+Model'].apply(lambda x: x.split(' '))

In [21]:
df_sales

,Region,Brand,Make+Model,2000,2001,2002,2003,2004,2005,2006,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,USA,Ford,"[Ford, F-Series]",876716,911597,813701,845586,939511,901463,796039,...,780354,820799,896764,909330,896526,787372,726003,653957,750789,834641
1,USA,GM,"[Chevrolet, Silverado]",642119,716051,652646,684302,680768,705981,636069,...,600544,574876,585864,585582,575569,593057,529765,520936,555148,560265
2,USA,Chrysler,"[Ram, Pickup]",380874,344538,396934,449371,426289,400543,364177,...,451116,487558,500723,536980,633694,563676,569389,468344,444927,373120
3,Japan,Toyota,"[Toyota, Camry]",422961,388512,434145,413296,426990,431703,448445,...,429355,388616,387081,343439,336978,294348,313795,295201,290649,309875
4,Japan,Honda,"[Honda, Accord]",404515,414718,398980,397750,386770,376293,354441,...,355557,345135,322655,291071,267567,199458,202676,154612,197947,147972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,Japan,Nissan,"[Nissan, Altra, Ev]",37,64,139,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
556,Euro,VW,"[Bentley, Mulsanne]",0,0,0,0,0,0,0,...,0,84,98,0,0,0,0,0,0,0
557,Japan,Toyota,"[Lexus, LFA]",0,0,0,0,0,0,0,...,9,6,3,2,3,3,0,0,0,0
558,Japan,Mitsubishi,"[Mitsubishi, Diamante]",0,0,0,0,0,160,0,...,0,0,0,0,0,0,0,0,0,0
559,USA,Karma,"[Karma, Revero]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,49,56,0

In [22]:
df_sales['make'] = df_sales['Make+Model'].apply(lambda x: ' '.join(x[0:2]) if x[0]=='Land' or x[0]=='Alfa' else x[0])
df_sales['make'] = df_sales['make'].apply(lambda x: x.strip())
df_sales['model'] = df_sales['Make+Model'].apply(lambda x: ' '.join(x[2:]) if x[0]=='Land' or x[0]=='Alfa' else ' '.join(x[1:]))
df_sales['model'] = df_sales['model'].apply(lambda x: x.strip())
df_sales

,Region,Brand,Make+Model,2000,2001,2002,2003,2004,2005,2006,...,2017,2018,2019,2020,2021,2022,2023,2024,make,model
0,USA,Ford,"[Ford, F-Series]",876716,911597,813701,845586,939511,901463,796039,...,896764,909330,896526,787372,726003,653957,750789,834641,Ford,F-Series
1,USA,GM,"[Chevrolet, Silverado]",642119,716051,652646,684302,680768,705981,636069,...,585864,585582,575569,593057,529765,520936,555148,560265,Chevrolet,Silverado
2,USA,Chrysler,"[Ram, Pickup]",380874,344538,396934,449371,426289,400543,364177,...,500723,536980,633694,563676,569389,468344,444927,373120,Ram,Pickup
3,Japan,Toyota,"[Toyota, Camry]",422961,388512,434145,413296,426990,431703,448445,...,387081,343439,336978,294348,313795,295201,290649,309875,Toyota,Camry
4,Japan,Honda,"[Honda, Accord]",404515,414718,398980,397750,386770,376293,354441,...,322655,291071,267567,199458,202676,154612,197947,147972,Honda,Accord
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,Japan,Nissan,"[Nissan, Altra, Ev]",37,64,139,0,0,0,0,...,0,0,0,0,0,0,0,0,Nissan,Altra Ev
556,Euro,VW,"[Bentley, Mulsanne]",0,0,0,0,0,0,0,...,98,0,0,0,0,0,0,0,Bentley,Mulsanne
557,Japan,Toyota,"[Lexus, LFA]",0,0,0,0,0,0,0,...,3,2,3,3,0,0,0,0,Lexus,LFA
558,Japan,Mitsubishi,"[Mitsubishi, Diamante]",0,0,0,0,0,160,0,...,0,0,0,0,0,0,0,0,Mitsubishi,Diamante
559,USA,Karma,"[Karma, Revero]",0,0,0,0,0,0,0,...,0,0,0,0,0,49,56,0,Karma,Revero

In [23]:
df_map = pd.read_excel(r"C:\Users\Archer\Downloads\特殊车型匹配.xlsx")

In [24]:
df_map['make+model'] = df_map['make+model'].apply(lambda x: x.split(' '))

In [25]:
df_map['make'] = df_map['make+model'].apply(lambda x: ' '.join(x[0:2]) if x[0]=='Land' or x[0]=='Alfa' else x[0])
df_map['make'] = df_map['make'].apply(lambda x: x.strip())

In [26]:
df_map['modeln'] = df_map['make+model'].apply(lambda x: ' '.join(x[2:]) if x[0]=='Land' or x[0]=='Alfa' else ' '.join(x[1:]))
df_map['modeln'] = df_map['modeln'].apply(lambda x: x.strip())

In [27]:
df_map

,make,model,make+model,Unnamed: 3,modeln
0,BMW,128i,"[BMW, 1-Series]",1.0,1-Series
1,BMW,135i,"[BMW, 1-Series]",1.0,1-Series
2,BMW,135is,"[BMW, 1-Series]",1.0,1-Series
3,Ram,1500,"[Ram, Pickup]",1.0,Pickup
4,Ram,1500 Classic,"[Ram, Pickup]",1.0,Pickup
...,...,...,...,...,...
683,BMW,850Ci,"[BMW, 8-Series]",1.0,8-Series
684,BMW,850CSi,"[BMW, 8-Series]",1.0,8-Series
685,BMW,"850i,Ci","[BMW, 8-Series]",1.0,8-Series
686,Chevrolet,Uplander,"[Chevrolet, Uplander, And, Venture]",NaN,Uplander And Venture
687,Chevrolet,Venture,"[Chevrolet, Uplander, And, Venture]",NaN,Uplander And Venture

In [28]:
df_gb = df_gb.merge(df_map.drop(columns='make+model'),on=['make','model'],how='left')

In [29]:
df_gb

,Description,SKU,goods_num,list_vehicle,year,make,model,list_year,Unnamed: 3,modeln
0,Acura TLX 2015-2020,HCR00013,1,"[Acura, TLX, 2015-2020]",2015-2020,Acura,TLX,"[2015, 2016, 2017, 2018, 2019, 2020]",NaN,NaN
1,Ford Ranger 2019-2023,HCR00023,1,"[Ford, Ranger, 2019-2023]",2019-2023,Ford,Ranger,"[2019, 2020, 2021, 2022, 2023]",NaN,NaN
2,Chevrolet Bolt EV 2017-2023,HCR00024-C,1,"[Chevrolet, Bolt, EV, 2017-2023]",2017-2023,Chevrolet,Bolt EV,"[2017, 2018, 2019, 2020, 2021, 2022, 2023]",1.0,Bolt
3,Chrysler Pacifica 2017-2024,HCR00045-C,1,"[Chrysler, Pacifica, 2017-2024]",2017-2024,Chrysler,Pacifica,"[2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]",NaN,NaN
4,Chrysler Voyager 2024,HCR00045-C,1,"[Chrysler, Voyager, 2024]",2024,Chrysler,Voyager,[2024],NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2099,Volkswagen Caddy 2014-2016,HCR99384X-C,1,"[Volkswagen, Caddy, 2014-2016]",2014-2016,Volkswagen,Caddy,"[2014, 2015, 2016]",NaN,NaN
2100,Volkswagen CC 2015-2017,HCR99384X-C,1,"[Volkswagen, CC, 2015-2017]",2015-2017,Volkswagen,CC,"[2015, 2016, 2017]",NaN,NaN
2101,Volkswagen Gli 2010,HCR99384X-C,1,"[Volkswagen, Gli, 2010]",2010,Volkswagen,Gli,[2010],NaN,NaN
2102,Volkswagen Jetta 2006-2010,HCR99384X-C,1,"[Volkswagen, Jetta, 2006-2010]",2006-2010,Volkswagen,Jetta,"[2006, 2007, 2008, 2009, 2010]",NaN,NaN
2103,Acura TL 2004-2008,HCR99392X-C,1,"[Acura, TL, 2004-2008]",2004-2008,Acura,TL,"[2004, 2005, 2006, 2007, 2008]",NaN,NaN

In [30]:
df_gb.loc[df_gb['modeln'].isnull(),'modeln'] = df_gb.loc[df_gb['modeln'].isnull(),'model']
df_gb

,Description,SKU,goods_num,list_vehicle,year,make,model,list_year,Unnamed: 3,modeln
0,Acura TLX 2015-2020,HCR00013,1,"[Acura, TLX, 2015-2020]",2015-2020,Acura,TLX,"[2015, 2016, 2017, 2018, 2019, 2020]",NaN,TLX
1,Ford Ranger 2019-2023,HCR00023,1,"[Ford, Ranger, 2019-2023]",2019-2023,Ford,Ranger,"[2019, 2020, 2021, 2022, 2023]",NaN,Ranger
2,Chevrolet Bolt EV 2017-2023,HCR00024-C,1,"[Chevrolet, Bolt, EV, 2017-2023]",2017-2023,Chevrolet,Bolt EV,"[2017, 2018, 2019, 2020, 2021, 2022, 2023]",1.0,Bolt
3,Chrysler Pacifica 2017-2024,HCR00045-C,1,"[Chrysler, Pacifica, 2017-2024]",2017-2024,Chrysler,Pacifica,"[2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]",NaN,Pacifica
4,Chrysler Voyager 2024,HCR00045-C,1,"[Chrysler, Voyager, 2024]",2024,Chrysler,Voyager,[2024],NaN,Voyager
...,...,...,...,...,...,...,...,...,...,...
2099,Volkswagen Caddy 2014-2016,HCR99384X-C,1,"[Volkswagen, Caddy, 2014-2016]",2014-2016,Volkswagen,Caddy,"[2014, 2015, 2016]",NaN,Caddy
2100,Volkswagen CC 2015-2017,HCR99384X-C,1,"[Volkswagen, CC, 2015-2017]",2015-2017,Volkswagen,CC,"[2015, 2016, 2017]",NaN,CC
2101,Volkswagen Gli 2010,HCR99384X-C,1,"[Volkswagen, Gli, 2010]",2010,Volkswagen,Gli,[2010],NaN,Gli
2102,Volkswagen Jetta 2006-2010,HCR99384X-C,1,"[Volkswagen, Jetta, 2006-2010]",2006-2010,Volkswagen,Jetta,"[2006, 2007, 2008, 2009, 2010]",NaN,Jetta
2103,Acura TL 2004-2008,HCR99392X-C,1,"[Acura, TL, 2004-2008]",2004-2008,Acura,TL,"[2004, 2005, 2006, 2007, 2008]",NaN,TL

In [31]:
df_n = df_gb[['goods_num','make','modeln','list_year']].explode('list_year')

In [32]:
df_n

      goods_num   make modeln list_year
0             1  Acura    TLX      2015
0             1  Acura    TLX      2016
0             1  Acura    TLX      2017
0             1  Acura    TLX      2018
0             1  Acura    TLX      2019
...         ...    ...    ...       ...
2103          1  Acura     TL      2004
2103          1  Acura     TL      2005
2103          1  Acura     TL      2006
2103          1  Acura     TL      2007
2103          1  Acura     TL      2008

[12305 rows x 4 columns]

In [33]:
df_sales_m = pd.melt(df_sales.drop(columns='Make+Model'),id_vars=['make','model'],value_vars=df_sales.filter(like='20').columns.tolist(),var_name='year',value_name='sales')

In [34]:
df_sales_m = df_sales_m.merge(df_n.rename(columns={'modeln':'model','list_year':'year'}),on=['make','model','year'],how='outer')

In [35]:
df_sales_m[['sales','goods_num']] = df_sales_m[['sales','goods_num']].fillna(0)

In [36]:
df_sales_m.loc[(df_sales_m['sales']==0)&(df_sales_m['goods_num']==0),'mark'] = 0
df_sales_m.loc[(df_sales_m['sales']>0)&(df_sales_m['goods_num']>0),'mark'] = 1
df_sales_m.loc[(df_sales_m['sales']>0)&(df_sales_m['goods_num']==0),'mark'] = 2
df_sales_m.loc[(df_sales_m['sales']==0)&(df_sales_m['goods_num']>0),'mark'] = 3

In [37]:
df_sales_m = df_sales_m.drop_duplicates(['make','model','year','mark'])

In [38]:
df_sales_m['mark'].value_counts()

mark
0.0    7515
3.0    7047
1.0    3385
2.0    2611
Name: count, dtype: int64

In [39]:
df_sales_m_p = pd.pivot_table(df_sales_m,index=['make','model'],columns='year',values='mark',aggfunc='sum')

In [40]:
df_sales_m[df_sales_m.duplicated(['make','model','year'],keep=False)]

Empty DataFrame
Columns: [make, model, year, sales, goods_num, mark]
Index: []

In [41]:
df_sales_m_p['count_3'] = (df_sales_m_p==3).sum(axis=1)
df_sales_m_p['count_2'] = (df_sales_m_p==2).sum(axis=1)
df_sales_m_p['count_1'] = (df_sales_m_p==1).sum(axis=1)

In [42]:
df_sales_m_p['备注'] = ''
df_sales_m_p.loc[(df_sales_m_p['count_2']==0)&(df_sales_m_p['count_1']==0)&(df_sales_m_p['count_3'])>0,'备注'] = '保有量表之外，可能要修改车型'

In [43]:
df_sales_m_p = df_sales_m_p.reset_index()

In [44]:
df_sales_m_p = df_sales_m_p.drop(columns=['count_3','count_2','count_1'])

In [45]:
df_sales_m_p

year,make,model,2,1960,1961,1962,1963,1964,1965,1966,...,2017,2018,2019,2020,2021,2022,2023,2024,2025,备注
0,AUDI,A8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN,
1,AUDI,Q7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN,
2,AUDI,Q8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,3.0,3.0,3.0,3.0,3.0,NaN,
3,AUDI,RS Q8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,3.0,3.0,3.0,NaN,NaN,
4,AUDI,S8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337,Volvo,XC40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,
1338,Volvo,XC60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,
1339,Volvo,XC90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,
1340,Volvo,Xc70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,保有量表之外，可能要修改车型
1341,Volvo,Xc90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [46]:
df_sales_m_p.to_excel(r"C:\Users\Archer\Desktop\输出表.xlsx",index=False)